<!--
    This is the index page for the Chat controller    
-->

<link href="~/Content/ChatStyles.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Chat Box";
}

<h2>Index</h2>

<div style="width: 100%; overflow: hidden; height: 500px;">
    <div style="width: 200px; float: left; height:inherit; overflow: auto;" id="ChatInstancesList">
        <!--Here goes a list of all the companies the user has initiated a conversation with-->
        @foreach (string contact in ViewBag.ChatInstances)
        {
            <div class="chatInstanceBox" id="@contact">
                <div style="line-height:50px;">
                    <p class="chatInstanceCompanyName">@contact</p>
                </div>
            </div>
        }

    </div>
    <div style="margin-left: 205px; height: inherit;"> <!--This area contains the conversation and the message typing area-->
        <div id="ConversationDisplayArea">
            <!--Here is where the messages for the current conversation are displayed-->
            @foreach(Messages.DataTypes.Database.Chat.ChatMessage msg in ViewBag.DisplayedChatHistory.messages)
            {
                if (msg.sender.Equals(ClientApplicationMVC.Models.Globals.getUser()))
                {
                    //Display a message of the current user.
                    <p class="message">
                        <span class="username">You: </span>
                        @msg.messageContents
                    </p>
                }
                else
                {
                    //Display a message of the conversation
                    <p class="message">
                        <span class="username" style="color:aqua;">@msg.sender: </span>
                        @msg.messageContents
                    </p>
                }
            }
        </div>
        <div style="height: 100px;" id="UserMessageArea">
            <div style="float: left; width:inherit; height: 72px;" id="MessageTextArea">
                <textarea class="messagetextarea" id="textUserMessage" placeholder="Enter your message here." rows="3"></textarea>
            </div>
            <div style="float: right;" id="SendButtonArea">
                <button class="sendbutton" id="SendButton">Send</button>
            </div>
        </div>
    </div>
</div>


@section scripts{
    
<script type="text/javascript" src="~/Scripts/Chat/ChatFunctions.js"></script>

}