<link href="~/Content/ChatStyles.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="~/Scripts/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="~/Scripts/CompanyListings/CompanyListingsFunctions.js"></script>

<h2 id="CompanyNameDisplay">@ViewBag.CompanyName</h2>

<br />
<p>Email: @ViewBag.CompanyInfo.email</p>
<br />
<p>Phone Number: @ViewBag.CompanyInfo.phoneNumber</p>
<br />
<p>@ViewBag.CompanyName can be found at these locations:</p>
<br />
@foreach (string location in ViewBag.CompanyInfo.locations)
{
    <p style="padding-left:4em;">@location</p>
    <br />
}

@if(ViewBag.WeatherInfo != null)
{
    <div style="border-top:1px solid lightgrey; border-bottom:1px solid lightgrey">
        <h3 style="color:teal">@ViewBag.WeatherInfo.locationName</h3>
        <h1>@ViewBag.WeatherInfo.temperatureMetric &deg;C</h1>
        <p>RealFeel&reg; @ViewBag.WeatherInfo.realFeelTemperatureMetric &deg;C</p>
        <h3>@ViewBag.WeatherInfo.weatherText</h3>
    </div>
}
else
{
    <p style="color:red">Weather info for location could not be found</p>
}
<br/>

<div style="height:100px">
    <h4>Start a conversation with @ViewBag.CompanyName</h4>
    <div style="width:400px; float:left">
        <textarea class="messagetextarea" id="textUserMessage" placeholder="Enter your message here." rows="3"></textarea>
    </div>
    <div style="float:left">
        <button class="sendbutton" id="SendMessageButton">Send</button>
    </div>
</div>
<br /><br />

<div style="border-top:1px solid lightgrey; border-bottom:1px solid lightgrey">
    @using (Html.BeginForm("SubmitReview", "CompanyListings", FormMethod.Get))
    {
        <h4>Review @ViewBag.CompanyName</h4>
        <input type="hidden" name="companyName" value="@ViewBag.CompanyName" />
        <p>
            <textarea name="review" placeholder="Enter your review here." rows="4"></textarea><br /><br />
            Stars
            <div>
                <input type="radio" name="stars" value="1">1
                <input type="radio" name="stars" value="2">2
                <input type="radio" name="stars" value="3" checked>3
                <input type="radio" name="stars" value="4">4
                <input type="radio" name="stars" value="5">5
            </div>
        </p>
        <input type="submit" value="Save Review for @ViewBag.CompanyName" />
    }
    <h4>@ViewBag.ResponseStatus</h4>

    <br />

    <!-- Getter for reviews (redirects to new page) -->
    @using (Html.BeginForm("DisplayReviews", "CompanyListings", new { id = @ViewBag.CompanyName }, FormMethod.Get))
    {
        <input type="submit" value="Get Reviews for @ViewBag.CompanyName" />
    }
<br />
</div>
